swagger: "2.0"
info:
  version: "1.0.0"
  title: API
  description: API description
host: "private-5d708-interviewfront.apiary-mock.com"
basePath: /
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  # account related endpoints
  /transactions:
    get:
      summary: Transactions endpoint
      operationId: getTransactions
      description: |
        Returns transactions array
      parameters:
        - name: page
          in: query
          type: integer
          description: The page number (range between 0 - N)
          required: false
      tags:
        - Transactions
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Transactions'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Error:
    type: object
    properties:
      message:
        type: string
      doc:
        type: string
  Transactions:
    type: array
    items:
      $ref: '#/definitions/Transaction'
  Transaction:
    type: object
    properties:
      meta:
        $ref: '#/definitions/Meta'
      transactions:
        $ref: '#/definitions/TransactionsList'
  Meta:
    type: object
    properties:
      current_page:
        type: integer
      next_page:
        type: integer
      prev_page:
        type: integer
      total_pages:
        type: integer
      total_count:
        type: integer
  TransactionsList:
    type: array
    items:
      $ref: '#/definitions/TransactionItem'
  TransactionItem:
    type: object
    properties:
      id:
        type: integer
      created_date:
        type: string
        format: date-time
      counterparty_name:
        type: string
      debit:
        type: string
      credit:
        type: string
      amount:
        type: string
      currency:
        type: string
      operation_type:
        type: string
      attachements:
        type: array
        items:
          $ref: '#/definitions/Attachement'
  Attachement:
    type: object
    properties:
      url:
        type: string
