doctype html
div(class='md-content', id='transactions', layout='row')
  //- side bar
  md-sidenav(class="md-sidenav-left", md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", md-whiteframe="4", class='color')

    md-toolbar(class='md-hue-1')
      h1(class='md-toolbar-tools') FINPAL
    div(layout-padding, layout-align='center center')
      p(class='white') Overview
      p(class='white') Transactions (3)
      md-divider
      p(class='white') Transfers (2)
      p(class='white') Invoices (1)
      md-divider
      p(class='white') Manage cards
      p(class='white') Manage accounts
      md-divider
      p(class='white') Team
      p(class='white') Integrations
      p(class='white') Settings

      md-button(class='md-raised') Upgrage Account

  //- transactions table
  md-card(class='no-margin-top')
    //- default toolbar
    md-toolbar(class='md-table-toolbar md-accent')
      div(class='md-toolbar-tools')
    //- transactions list
    md-card-content
      div
        //- list
        md-table-container
          table(md-table, md-row-select, multiple='', ng-model='vm.selected', md-progress='promise')
            //- columns
            thead(md-head)
              tr(md-row)
                th(md-column, class='text-center') DD-MM-YYYY
                th(md-column, class='text-center') Counterpary Name
                th(md-column, class='text-center') Payment type
                th(md-column, class='text-center') Amount
                th(md-column, class='text-center') Attachement
            //- rows
            tbody(md-body)
              tr(md-select='item', md-select-id='id', ng-repeat='item in vm.transactions')
                td(md-cell, class='text-center') {{item.created_at | date : dd-MM-yyyy}}
                td(md-cell, class='text-center') {{item.counterparty_name}}
                td(md-cell, class='text-center') {{item.operation_type}}
                td(md-cell, class='text-center') {{item.amount | currency: item.currency+' '}}
                td(md-cell, class='text-center') {{item.attachements[0].url}}

  //- show results
  md-card(flex, class='no-margin-top-left')
    //- default toolbar
    md-toolbar(class='md-table-toolbar')
      div(class='md-toolbar-tools')
    //- results
    md-card-content(flex, layout='column', layout-align='center center')
      div(layout-align='center center') Click on one or several transactions to see details
